<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Day converter</title>
</head>
<body>

<form method="Post" action="/day">
    <label for="day">Day: </label>
    <input name="day" type="text" th:value="${input}" id="day"/>

    <label for="month">Month: </label>
    <input name="month" type="text" th:value="${input}" id="month"/>

    <label for="year">Year: </label>
    <input name="year" type="text" th:value="${input}" id="year"/>
    <br>
    <br>
    <div th:text="${YourDate}"/>
    <div th:text="${InfoString}"/>
    Day of week: <span th:text="${DayOfWeek}"/>
    <br>
    <br>
    <input type="submit" value="Convert!"/>
</form>
</body>
</html>